body, html {
  min-height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: left;
  direction: ltr;
  font: normal 15px/1 $default-font;
  color: $dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: antiquewhite;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
button {
  outline: none;
  cursor: pointer;
  font: 500 14px/1.5 $default-font;
}
a {
  color: $link-color;
  font-weight: 500;
  transition: $transition-rules;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}
