

.fight-room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 0 auto;

  .target {
    width: 200px;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    padding: 10px 10px 30px;
    position: relative;
    background: #f8f8f8;

    .equipment {
      width: 80%;
      position: relative;
      margin: 20px auto 0;

      img {
        width: 100%;
        height: auto;
      }
      & > div {
        position: absolute;
        border: 1px solid #f2f2f2;
        border-radius: 6px;
      }
    }
    .bar + .bar {
      margin-top: 3px;
    }
  }
}
%battle-btn {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  border-width: 2px;
  border-style: solid;
}
.battle-controls {
  position: relative;
  width: 210px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .btn-wrapper {
    width: 70px;
    height: 70px;
    padding: 3px;
  }
  .action-btn {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border: 2px solid $dark;

    &.movement {
      background: $light;
      font-size: 30px;

      &.selected {
        background: red;
        color: $light;
      }
    }
    &.stance {
      font-size: 40px;
      color: $light;

      &.attack {
        background: #d00000;
      }
      &.defence {
        background: #076d00;
      }
      &.distance {
        background: #caa82c;
      }
    }
  }
  .stance-set {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
  }
  .end-turn {
    padding: 12px 24px;
    border: 2px solid $dark;
    border-radius: 6px;
    background: $dark;
    color: $light;
    text-transform: uppercase;
    font-size: 14px;
    margin: 30px auto 0;
    transition: all 0.3s ease;

    &:hover {
      background: $light;
      color: $dark;
    }
  }
}